:root {
  --bg-main: #33313e;
  --text-main: #f5f5f5;
}

body {
  background-color: var(--bg-main);
  color: var(--text-main);
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

.title {
  text-align: center;
  font-size: 1.5rem;
}

.options-wrapper {
  margin: auto;
  width: 100%;
  max-width: 500px;
}

.option {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  margin: 1.2rem;
}

.option-label {
  font-size: 1.2rem;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

#reset-button {
  width: 100%;
  max-width: 150px;
  margin: 1rem auto;
  text-align: center;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

.footer-text {
  text-align: center;
  font-size: 1.1rem;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}